# Решение СЛАУ

In [18]:
%matplotlib inline

import matplotlib
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
import sys
sys.path.append('../numeric-core')
import numeric

СЛАУ решаем методом Гаусса:

$$Ax = b$$

* На $i$-м шаге алгоритма:
  1. Находится строка $A$, в которой в $i$-м столбце стоит не ноль
  2. Эта строка меняется с $i$-й
  3. Из всех следующих строк $A$ (начиная с $i+1$-й) вычитается $i$-я строка, домноженная на такой коэффициент, что в $i$-м столбце получится ноль
  4. Также из соответствующего значения $b$ вычитается $i$-е значение $b$, домноженное на тот же коэффициент

* Количество шагов равно количеству столбцов $A$
* Если количество столбцов $A$ меньше количества строк $A$, решений бесконечно много
* Если на очередном шаге не нашлось строки $A$ с ненулевым значением в столбце, решений бесконечно много
* Если для какой-нибудь из оставшихся строк (*кол-во столбцов $A$* $+1, \ldots,$ *кол-во строк $A$*) соответствующее значение $b$ не равно нулю, решений нет

Далее по диагональной матрице $A$ и вектору $b$ легко получается решение:

* На $i$-м шаге алгоритма ($i$ уменьшается) вычислим $x_i$, зная все $x_j, j > i$, так как в $i$-й строке $A$ все элементы до $i$-го нулевые

In [29]:
matrices = [
    [[1., 2., 3.],[2.0001, 3.999, 6.], [15., 3., 6.]],
    [[1., 1/2, 1/3], [1/2, 1/3, 1/4], [1/3, 1/4, 1/5]],
    [[np.power(10., 6), 2.], [np.power(10., 13), 2.]]
]

In [81]:
df = pd.DataFrame([
    [np.linalg.det(matrix) for matrix in matrices],
    [np.linalg.norm(matrix) for matrix in matrices],
    [np.linalg.cond(matrix) for matrix in matrices],
], columns=['Determinant', 'Norm', 'Condition number'])

df.style

In [91]:
def solution_norm(A, b):
    x = numeric.gaussian_elimination(A.tolist(), b.tolist())
    return np.linalg.norm(np.dot(A, np.array(x)) - b)


error_norms = pd.DataFrame(
    [solution_norm(np.array(matrix), np.ones(len(matrix))) for matrix in matrices],
    columns=['Solution error norm']
)

pd.concat([df, error_norms], axis=1).style